.add-player-body {
    margin-bottom: 2rem;
    text-align: center;
}

.add-player-box {
    margin: 2rem;
    display: block;
    /* box-shadow: 0px 0px 10px 1px rgb(65, 64, 64); */
    border-radius: 100px;
}